# Entornos virtuales de Python
/venv/
/.venv/
/env/
/env3/

# Archivos de cache y logs
__pycache__/
*.log
*.pyc

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Ignorar solo archivos Excel y CSV en carpetas específicas
/file/input/*.csv
/file/input/*.xlsx
/file/input/*.xls

/file/output/*.csv
/file/output/*.xlsx
/file/output/*.xls

/data/*.csv
/data/*.xlsx
/data/*.xls